@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-light-grey;
  }
  body {
    @apply bg-primary-black text-white antialiased;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #1A1A1A;
}

::-webkit-scrollbar-thumb {
  background: #3D3D3D;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4D4D4D;
}

